.rodape__container {
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    flex-flow: column wrap;
}

@media screen and (min-width: 834px){
    .rodape__container {
        justify-content: space-between;
    }
}